body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cccccc; /* fundo cinza claro */
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333333;
}

.flex-conteiner {

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
}

.quadroA {
    width: 150px;          /* largura do quadrado */
    height: 150px;         /* altura do quadrado */
    background-color: #bbbbbb;  /* cor de fundo (surpresa kkkk*/
    color: white;          /* cor do texto */
    display: flex;         /* usar flexbox para centralizar */
    justify-content: center; /* centralizar horizontalmente */
    align-items: center;     /* centralizar verticalmente */
    border-radius: 8px;    /* cantos arredondados (opcional) */
        /* margem vertical e centralizar horizontalmente */
}

.quadroB {
    width: 150px;          /* largura do quadrado */
    height: 150px;         /* altura do quadrado */
    background-color: #FF69B4;  /* cor de fundo (surpresa kkkk*/
    color: white;          /* cor do texto */
    display: flex;         /* usar flexbox para centralizar */
    justify-content: center; /* centralizar horizontalmente */
    align-items: center;     /* centralizar verticalmente */
    border-radius: 8px;    /* cantos arredondados (opcional) */
        /* margem vertical e centralizar horizontalmente */
}

.quadroC {
    width: 150px;
    height: 150px;
    background-color: #ADD8E6;
    color: green;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 8px;
    
}


.flex-container{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.quadroD {
    width: 150px;
    height: 150px;
    background-color: #f5610b;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 8px;
    
}


.quadroE {
    width: 150px;
    height: 150px;
    background-color: #f5610b;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 8px;
    
}


.quadroF {
    width: 150px;
    height: 150px;
    background-color: #f5610b;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 8px;

}

@media (max-width: 600px) {
    body {
        background-color: #999999; /* precisa do # antes do código */
    }
}

